<pagetitle pagetitle="Chart"></pagetitle>
<style>
  .bar-legend li span, .chart-legend li span, .doughnut-legend li span, .line-legend li span, .pie-legend li span, .polararea-legend li span, .radar-legend li span{
    width:auto;
  }
</style>
<div class="row "  ng-controller="LineCtrl">
  <div class="panel">
    <div class="panel-body">
      <select title="tags" ng-change="onSelect()" ng-model="selectedTag">
        <option ng-repeat="item in tags track by $index" value="{{item}}">
          {{item}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-12">
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
            chart-series="series" chart-click="onClick"></canvas>
  </div>
</div>
