<pagetitle pagetitle="Tables"></pagetitle>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        DataTable
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="dataTable_wrapper">

          <table ng-controller="HomeCtrl" st-table="purchases" st-safe-src="purchases2" class="table table-striped">
            <thead>
              <tr>
                <th>purchase</th>
                <th>date</th>
                <th>price</th>
              </tr>
              <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="search"/>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in purchases">
                <td>{{item.name}}</td>
                <td>{{item.date|date}}</td>
                <td class="{{item.type}}">{{item.price}} {{item.currency}}</td>
                <td>
                  <span ng-repeat="tag in item.tags track by $index">{{tag}} </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
