<div class="" ng-controller="addCtrl">
  <div class="rows">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <form name="form">
        <fieldset class="form-group">
          <label>name</label>
          <input type="text" class="form-control" placeholder="banana ..." ng-model="item.name" ng-keyup="">
        </fieldset>
        <fieldset class="form-group">
          <label>type
            <small>outcome or income</small>
          </label>
          <select class="form-control" ng-model="item.type">
            <option value="" disabled selected>Select your option...</option>
            <option value="outcome">outcome</option>
            <option value="income">income</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <label>price</label>
          <input type="number" class="form-control" placeholder="10 ..." ng-model="item.price" ng-keyup="">
        </fieldset>
        <fieldset class="form-group">
          <label>currency</label>
          <select class="form-control" ng-model="item.currency">
            <option value="" disabled selected>Select your option...</option>
            <option value="USD">USD</option>
            <option value="UAH">UAH</option>
          </select>
        </fieldset>
        <div>
          <h4>Date</h4>
          <ng-datepicker ng-model="item.date"></ng-datepicker>
          <span ng-bind="item.date1" style="display: block; margin-top: 5px;"></span>
        </div>
        <div>
          <h4>Tags</h4>
          <div>
            <div ng-repeat="tag in item.tags track by $index">
              <input type="text" value="{{tag}}">
            </div>
            <button class="btn btn-success" ng-click="addTag(item)" >New Tag</button>
          </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="add(item)">Add</button>
      </form>
    </div>
  </div>
</div>
